*{
    box-sizing: border-box;
    font-family: sans-serif;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    overflow: hidden;
}

html, body{
    margin: 0;
    padding: 0;
}

#toolbar{
    width: 100%;
/*    padding: 0px 10px;*/
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: dimgray;
    color: white;
}

#toolbar__left{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: 10px;
}
#toolbar__right{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 20px;
    margin-right: 10px; 
}

.rangeDiv{
    display: flex;
    align-items: center;
}

.smallInput{
    cursor: pointer;
    width: 30px;
    border-radius: 5px;
    margin-left: 5px;
}

.range{
    cursor: pointer;
    margin-left: 5px;
}

#brushes{
    display: flex;
    align-items: center;
/*    margin-left: 10px;*/
}
.brushType{
    cursor: pointer;
/*    width: 75px;*/
    text-align: center;
    border-radius: 0 10px;
    padding: 6px;
    margin-left: 5px;
    background-color: #434343;
}
/*
.brushType:hover{
    background-color: #818181;
}
*/
.brushType.act{
    border-style: solid;
    border-width: 2px;
    padding: 4px; 
    border-color: aqua aqua deepskyblue deepskyblue;
/*    border-color: deepskyblue;*/
}

#text, #save{
    cursor: pointer;
    text-align: center;
    margin-left: 5px;
    padding: 6px;
    border-radius: 5px;
    background-color: #434343;
}

#text:hover, #save:hover, .brushType:hover{
    background-color: #818181;
}

/*
#save{
    cursor: pointer;
    width: 75px;
    text-align: center;
    padding: 6px;
    background-color: #434343;
    border-radius: 5px;
}
#save:hover{
    background-color: #818181;
}
*/

#chooseColor{
    position: relative;
    overflow: hidden;
    width: 35px;
    height: 35px;
    padding: 0px;
/*    border: dimgray;*/
    border-radius: 50%;
}
#colorRange{
    cursor: pointer;
    position: absolute;
    right: -6px;
    top: -6px;
    width: 56px;
    height: 56px;
    border: none;
    padding: 0;
}

#someText{
    visibility: hidden;
    cursor: pointer;
    position: absolute;
    width: inherit;
    height: inherit;
    border: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.0);
}

.newText{
    position: absolute;
    visibility: hidden;
}

#downloadframe{
    display: none;
}

/*
#drop-area{
    display: flex;
    align-items: center;
}

#fileElem {
    display: none;
}
*/





/*
.radcontrol{
    width: 30px;
    height: 30px;
    background-color: darkgrey;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    padding: 8px;
}
*/

/*#rad{*/
/*
    display: flex;
    align-items: center;
*/
/*    border-radius: 5px;*/
/*    padding: 8px;*/
/*}*/



/*
.range{
        -webkit-appearance: none;
        height: 2px;
        width: 336px;
        background-color: #342B78;
    }
    .range::-webkit-slider-thumb{
        -webkit-appearance: none;
        height: 12px;
        width: 12px;
        background-color: #342B78;
        border-radius: 6px;
    }
*/





/*
.range {
    -webkit-appearance: none;
    width: 250px;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
}
*/

/*
.range::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}
*/




/*
#chooseColor{
    margin-top: 0;
    margin-right: 20px;
    height: 30px;
    padding: 5px;
    background-color: #434343;
    border-radius: 5px;
}
*/
/*
.swatch{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 2px 2px rgba(0, 0, 0, 0.5);
    display: inline-block;
    margin-left: 10px;
    background-color: cyan;
}

.swatch.active{
    border: 2px solid white;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.5);
}
*/

/*
#someText:hover{
    border-style: dashed;
    border-color: skyblue;
}
*/

/*
::-webkit-scrollbar {
    display: 
}
*/

/*
#brushes{
    float: right;
    width: 30px;
    height: 30px;
    background-color: darkgrey;
    display: inline-block;
    text-align: center;
    padding: 5px;
}
*/
/*
.brushType{
    width: 30px;
    height: 30px;
    background-color: darkgrey;
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.brushType.active{
    background-color: #818181;
}*/
